*, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
}

.priority {
  z-index: 0;
  .container {
    position: relative;
  }
}

.topbutton {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #333;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
}

.icon-up-bold {
  font-size: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
}